GROQ_API_KEY=your_groq_api_key_here
BOT_TOKEN=8815904880:AAEBTEFrKwqUXf3PNseJpRgkQVTZPCgIiSk
SUPABASE_URL=https://dcifboxchaaqkqmqqlbm.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjaWZib3hjaGFhcWtxbXFxbGJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzNzI4MTQsImV4cCI6MjEwMTk0ODgxNH0.w6MNyB5rRNWS3_RJBSJ3pmLtEueLi2WHJasgvQ1XJRU
WEBAPP_BASE_URL=https://shaky-lights-allow.loca.lt